
.container {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
  }
  
  .container-section {
    min-width: 320px;
    width:20%;
    display: flex;
    flex-direction: column;
  }
  
  .description {
    color: #828282;
  }
  
  .container-detail {
    width: 80%;
  }
  
  .error {
    color: rgba(235, 87, 87, 1);
  }
  
  .card {
    margin: 0 10px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
  }
  
  .card:hover {
    font-size: 1.1em;
    cursor: pointer;
  }
  
  h1 {
    font-size: 16px;
  }
  
  .icon {
    width: 10px;
    height: 10px;
  }
  
  header {
    color: #ffffff;
    background-color: #000000; 
    height: 60px;
    align-items: center;
    display: flex;
  }
  
  .list {
    margin: 0 2rem;
    display: flex; 
    flex-direction: column;
  }
  
  .list > div {
    align-items: center;
    margin-bottom: 5px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
  }
  
  